#root {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
}

.card {
  margin-bottom: 25px;
}

.cards {
  margin-top: 50px;
}

header {
    border: 4px solid #95989A;
    padding: 10px;
    color: #95989A;
}

.single-product {
  img {
    width: 100%;
    margin-bottom: 10px;
  }
}
