#root {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  color: #1a1a1a;
}

.productItem {
  text-align: left;
  padding: 20px;
  margin-bottom: 10px;

  a {
      color: inherit;
  }

}

.product-btn {
  margin-top: 10px;
  width: 100%;
  border-radius: 2px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #1a1a1a;
  color:white;
  text-transform: uppercase;
  font-size: 14px;
}

.product-btn:hover {
  opacity: 0.8;
}

footer {
  height: 100px;
  background: white;
}

.top-nav {
  position: fixed;
  background: white;
  width: 100%;
  max-width: 600px;
  z-index: 999;
}

.Home-Header {
  height: 100px;
}

.product-image {
  img {
    width: 100%;
  }
  padding-bottom: 15px;
}

.align-left {
  text-align: left;
}

.form-check-input {
  margin-right: 10px;
}

.margin-center {
  margin: 0 auto;
}

.error-text {
  color: red;
}
