@import './_*.styl'

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Oswald');

#root {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 25px;
  width: 100%;
  color: #1a1a1a;
  font-family: 'Open Sans', sans-serif;
}

html {
  touch-action: manipulation;
}

.title {
  font-size: 3.5em;
  font-family: 'Oswald', sans-serif;
}

a:hover {
  color: white;
}

button:hover {
  cursor: pointer;
}

.align-center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.profile-name {
  font-size: 21px;
}

.contact {
  padding: 10px 0px;
}

.profile-product {
}

.float-right {
  float:right;
}

.Modal {
  position: absolute;
  padding: 5%;
  max-width: 600px;
  margin: 0 auto;
  top: 60px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: white;
  transition: all 1s;
  overflow: auto;
  }

.red {
  background: red;
}

.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.1s;
  }

  .ReactModalPortal > * {
      // When the modal is closed, overlay div has no css class
      // This selector should be overridden by the `&--after-open` class below
      opacity: 0;
      transform: scale(1.3);
  }

  .ReactModal__Overlay {
      z-index: 669;
      transition: all 200ms ease-in-out;
      -webkit-transition-delay: 0.5s; /* Safari */
      transition-delay: 0.5s;
      &--after-open {
          opacity: 1;
          transform: scale(1);
      }
      &--before-close {
          opacity: 0;
      }
  }

#main {
  padding-bottom: 50px;
  padding: 0px 10px;
  margin: 0 auto;
  width: 100%;
}

.productItem {
  text-align: left;
  padding: 20px 0px;
  margin-bottom: 10px;

  a {
      color: inherit;
  }

}

.order {
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid black;

  p {
    margin-bottom: 0;
  }

}

.orderItemList {
    list-style: none;
    padding: 0;
}

.product-single-header {
    background: black;
    background-size: cover;
    background-position: center center;
    height: 275px;
    margin-bottom: 50px;
}

.side-dish-text {
  max-width: 50%;
}

.locations {
  margin-top: 25px;
}

.locationFormInput {
  display: none;
}

.form-check-input:checked+label {
  color: white;
  background: black;
  font-style: normal;
  transition: all 0.1s;
}

.front-icon {
  padding-top: 20px;
}

.location-form-label {
    width: 100%;
    border: 1px solid;
    padding: 10px;
    padding-left: 30px;
    border-color: rgba(41, 43, 44, 0.24);
}

.productItem a:hover {
  text-decoration: none;
}



.ReduxForm {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.loginToRegBtn {
    text-transform: uppercase;
    color:#9a9a9a;
    border-bottom: 1px dotted #9a9a9a;
    cursor: pointer;
    font-size: 0.8em;
}

.loginToRegBtn:hover {
  color: #9a9a9a;
  opacity: 0.9;
  text-decoration: none;
}

.avtal-button:hover {
  opacity: 0.8;
  color: inherit;
}

.form-input {
  outline: none;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #7f7f7f;
  width: 100%;
  padding: 0.65em 0.95em;
  margin-bottom: 15px;
}

.form-head {

  padding-bottom: 25px;

  h3 {
    font-size: 3.5em;
    font-family: 'Oswald', sans-serif;
  }
  p {
    font-size: 1.1em;
    font-style: italic;
    font-weight: lighter;
  }
}

.main-btn {
  margin-top: 10px;
  width: 100%;
  border-radius: 2px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #1a1a1a;
  color:white;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.1em;
  font-family: 'Oswald', sans-serif;
}

.main-btn:hover {
  opacity: 0.8;
}

.btn-45 {
  width: 45%;
  display: inline-block;
}

.btn-normal {
  padding-top: 0px;
  padding-bottom: 0px;
  padding: 10px 30px;
  width: auto;
  margin:5px;
}

.btn-modal {
  width: 100%;
}

.modal-close-icon {
  font-size: 1.5em;
}

footer {
  height: 100px;
  background: white;
}

.top-divider {
  margin-top: 50px;
  display: inline-block;
}

.nav {
  flex-direction: column;
  height: 100%;
  padding-bottom: 53px;
}

.nav-link {
  display: inline-block;
}

.nav-container {
  width: 100%;
  position: fixed;
  z-index: 9999;
  box-shadow: 1px 1px 5px #7f7f7f;
}

.top-nav {
  display: table;
  max-width: 600px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  background: white;
  width: 100%;
  z-index: 9999;

  a {
    color: black;
  }

}


.admin-order {
  margin-top: 20px;
  padding: 30px 0px 20px 0px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  background: white;
   -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);

  transition: background 0.3s ease-in-out;

  p {
    margin-bottom: 0;
    padding-bottom: 10px;
  }

  &.cooked {
    border: 1px solid transparent;
    background: #f39c12;
  }

  &.delivered {
    border: 1px solid transparent;
    background: #2ecc71;
  }

}

.admin-buttons {
  display:block;
  text-align:center;
}

select.adminDayPicker {
  color: white;
  background: #1a1a1a;
  border: 0;
  border-radius: 0;
  display: inline-block;
}

.admin-colors {
  span {
    margin-left: 5px;
  }
}

.admin-color-1 {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #f39c12;
}

.admin-color-2 {
  display: inline-block;
  margin-left: 10px;
  width: 12px;
  height: 12px;
  background: #2ecc71;
}

.top-nav a:hover {
  text-decoration: none;
}

.logo {
  padding: 10px 0px;
  img {
    width: 100%;
  }
}

.burger-menu {
  width: 25%;
  text-align: left;
  padding-left: 25px;
  display: table-cell;
  vertical-align: middle;
}

.cart-link {
  width: 25%;
  text-align: right;
  padding-right: 30px;
  display: table-cell;
  vertical-align: middle;
  padding-top: 10px;
}

.cart-del {
  color: #f94f4f;
  cursor: pointer;
  margin-left: 10px;
  font-size: 20px;
}

.back-button {
  font-size: 40px;
}

.bot-nav {
  position: fixed;
  background: white;
  width: 100%;
  max-width: 600px;
  z-index: 999;
  bottom: 0;

  a {
    color: black;
    font-size: 0.95em;
    text-transform: uppercase;
  }

}

.shopping-icon {
  font-size: 1.2em;
}

.Home-Header {
  height: 50px;
  margin-bottom: 50px;
  background: #1a1a1a;
  color: white;
}

.product-image {
  margin-bottom: 15px;
  height: 150px;
  background-position: center center;
  background-size: cover;
}

.product-intro {
  h4 {
    font-weight: bold;
  }
}

.categories-container {
  a {
    color: black;
  }
}

.categories-container a:hover {
  text-decoration: none;
}

.category-box {
  position: relative;
  padding: 70px 0px;
  margin-bottom: 15px;
  font-size: 22px;
  transition: all 0.15s;
  background-position: center center;
  background-size: cover;
  color: white;

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }

}

.category-box:hover {
  opacity: 0.8;
}

.category-box:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(2, 2, 2, 0.57);
}

.search-dishes-input {
  text-align:center;
  min-width:250px;
}

.product-title {
  font-weight: bold;
  text-transform: capitalize;
}

.hamburger-menu {
  display: none;
  height: 100%;
  margin-top: 0px;
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  position: fixed;
  color: white;
  z-index: 9998;
  transition: all 0.3s;

  a {
    color: white;
    font-size: 35px;
    text-transform: uppercase;
  }

  &.is-active {
    display: block;
  }

}



.align-left {
  text-align: left;
}

.form-check-input {
  margin-right: 10px;
}

.confirm-check {
  margin-left: 10px;
}

.margin-center {
  margin: 0 auto;
}

.error-text {
  color: rgba(255, 0, 0, 0.61);
  font-style: italic;
  text-align: left;
  letter-spacing: 0.06em;
  font-size: 14px;
}

/* Animations  */

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.cart-link-animation {
    transform-origin: top center;
    animation-name: swing;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}

/* Media Queries */

@media (min-width: 600px) {
  #main {
    max-width: 600px;
  }

  .burger-menu {
    padding-left: 5px;
  }

  .cart-link {
    padding-right: 5px;
  }

  .product-single-header {
    height: 375px;
  }

  .product-image {
    height: 250px;
  }

}
