html,body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
}


.header {
  border: 4px solid #333;
}

.start-btn {
  margin-top: 50px;
  border: 4px solid black;
  background: none;
  padding: 40px;
}
